.cdpInfos {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
.cdpInfos li {
    list-style: none;
}
