.buttonBack {
    background-color: black;
    border: none;
    margin: 0px 0px 30px 60px;
    height: 30px;
    color: white;
    width: 150px;
    border-radius: 0.5em;
}

.buttonBack:hover {
    background-color: rgb(59, 59, 59);
    cursor: pointer;
}
