.listingCdp img {
	height: 100px;
	object-fit: contain;
}

.listingCdp span {
	font-weight: bold;
}

.listingCdp h2 {
	font-family: "Glacial";
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
}
.creads__logo {
	width: 200px;
	margin-left: 20px;
}

.zenride__logo {
	width: 180px;
	margin-left: 35px;
}
