.namingReal {
	width: 100%;
	height: auto;
}
.namingReal img {
	width: 80%;
	height: auto;
}

.listingNaming p {
	margin: 0;
	margin-left: 20px;
	font-family: "Glacial";
	font-size: 1.4em;
	font-weight: bold;
	color: rgb(70, 70, 70);
	width: 95%;
}

.listingNaming .namingReal h2 {
	font-family: "Glacial";
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
}
.color {
	display: flex;
	align-items: flex-end;
	height: 80px;
}

@media screen and (max-width: 1024px) {
	.namingReal img {
		width: 100%;
		height: auto;
	}
	.listingNaming p {
		font-size: 1.2em;
	}
	.color {
		display: flex;
		align-items: flex-end;
		height: 80px;
	}
}
@media screen and (max-width: 768px) {
	.listingNaming p {
		font-size: 1em;
	}
	.color {
		display: flex;
		align-items: flex-end;
		height: 100px;
	}
}
